{
  "$schema": "https://raw.githubusercontent.com/mistweaverco/kulala.nvim/main/schemas/http-client.env.schema.json",
  "local": {
    "BASE_URL": "https://your-lambda-url.com"
    "X_API_KEY": "secret1"
  },
  "dev": {
    "BASE_URL": "",
    "X_API_KEY": ""
  },
  "prod": {
    "BASE_URL": "",
    "X_API_KEY": ""
  }
}
